@import 'bootstrap'

body
  background-color: #DDD
  main#content
    background-color: #FFF
    padding: 100px 0
    display: block
    #home
      padding-top: 10px 0
    .row
      margin-bottom: 10px
  div#footer  
    footer
      margin-top: 20px
      padding 20px 0
      text-align: right
      //background-color #CCC